body {
background-image: linear-gradient(to right, white, #b8e0ff);
}

h1 {
  text-align: center;
  font-size: 50px;
  color: black;
}

#instructions {
  font-size: 20px;
  color: black;
  display:inline-block;
  margin: 10px;
  margin-left: 0px;
}

.inputs {
  display: inline-block;
  margin: 10px;

}

.labels{
  font-size: 20px;
  color: black;
}

#topText {
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

#bottomText {
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

#link {
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

#generate {
  border-radius: 10px;
  display: inline-block;
  font-size: large;
  background-color: #c2a3ff;
  font-weight: bold;
  padding: 7px;
}

.memeContainer {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 10px;
  display:inline;
}

.meme {
  position: relative;
  display: block;
  text-align: center;
}

.top {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  top: 10%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-shadow: 0px 0px 10px #000000;
  position: absolute;
}   

.bottom {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  bottom: 10%;
  left: 50%; 
  transform: translate(-50%, 50%); 
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-shadow: 0px 0px 10px #000000;
  position: absolute;
}

.remove {
  border-radius: 10px;
  display: inline-block;
  font-size: large;
  background-color: white;
  font-weight: bold;
  padding: 7px;
  color: red;
  position: absolute;
}